<main class="main">
  <div class="circle-menu">
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="hamburger_text">MENU</div>
    </div>
  </div>
  <div class="nav-wrap">
    <ul class="nav">
      <li class="nav_item">
        <a [class.active]="currentPage === 'about'" href="#about" (click)="onPageClick($event)">About</a>
      </li>
      <li class="nav_item">
        <a [class.active]="currentPage === 'resume'" href="#resume" (click)="onPageClick($event)">Resume</a>
      </li>
      <li class="nav_item">
        <a [class.active]="currentPage === 'blog'" href="#blog" (click)="onPageClick($event)">Blog</a>
      </li>
      <li class="nav_item">
        <a [class.active]="currentPage === 'contact'" href="#contact" (click)="onPageClick($event)">Contact</a>
      </li>
    </ul>
  </div>
  <div class="wrapper">
    <aside class="sidebar" data-simplebar>
      <div>
        <div class="avatar-wrap">
          <svg class="avatar avatar--180" viewBox="0 0 188 188">
            <g class="avatar_box">
              <image
                href="https://avatars.githubusercontent.com/u/20513963?s=400&u=042031f1a9476b9758d33ab3fbddc31026530649&v=4"
                height="100%" width="100%" />
            </g>
          </svg>
        </div>
        <div class="text-center">
          <h3 class="title sidebar_user-name"><span class="weight--500">Sellakumar</span></h3>
          <div class="badge badge--gray">Web Developer</div>
          <div class="social">
            <a class="social_link" href="https://www.facebook.com/sellakumark" target="_blank">
              <i class="font-icon icon-facebook"></i>
            </a>
            <a class="social_link" href="https://www.twitter.com/sellakumark" target="_blank">
              <i class="font-icon icon-twitter"></i>
            </a>
            <a class="social_link" href="https://www.linkedin.com/in/sellakumark" target="_blank">
              <i class="font-icon icon-linkedin2"></i>
            </a>
          </div>
        </div>
        <ul class="contact-block">
          <li class="contact-block_item" data-toggle="tooltip" data-placement="top" title="Birthday">
            <i class="font-icon icon-calendar2"></i>May 29, 1991
          </li>
          <li class="contact-block_item" data-toggle="tooltip" data-placement="top" title="Address">
            <i class="font-icon icon-map-pin"></i>Chennai, Tamilnadu, IN
          </li>
          <li class="contact-block_item" data-toggle="tooltip" data-placement="top" title="E-mail">
            <a href="mailto:sellakumark@outlook.com"><i class="font-icon icon-mail"></i>sellakumark@outlook.com</a>
          </li>
          <li class="contact-block_item" data-toggle="tooltip" data-placement="top" title="Phone">
            <a href="tel:+919976119157"><i class="font-icon icon-smartphone"></i>+91 (997) 611-9157</a>
          </li>
          <li class="contact-block_item" data-toggle="tooltip" data-placement="top" title="Skype">
            <a href="skype:sellakumark_1"><i class="font-icon icon-skype"></i>sellakumark_1</a>
          </li>
        </ul>
      </div>
      <a class="btn" href="#"><i class="font-icon icon-download"></i> Download CV</a>
    </aside>
    <content class="content" data-simplebar>
      <section class="about-section" [class.active]="currentPage === 'about'">
        <div class="section mt-0">
          <h1 class="title title--h1 title_separate">About Me</h1>
          <div class="pt-2 pt-sm-3">
            <p>I'm a senior software developer professionally high skilled in Angular, React, and JavaScript (from
              TypeScript based). Developed 10+ Web UI components (Carousel, Kanban, Schedule, etc) by using TypeScript,
              Angular, and jQuery.</p>
          </div>
        </div>
        <div class="section">
          <h2 class="title title--h2">What I'm Doing</h2>
          <div class="row">
            <div class="col-12 col-lg-6 case-item-wrap">
              <div class="case-item">
                <img class="case-item_icon" src="assets/icons/icon-design.svg" alt="logo" />
                <h3 class="title title--h3">Product Development</h3>
                <p class="case-item_caption">Developing the modern component library with high-quality at a professional
                  level.
                </p>
              </div>
            </div>
            <div class="col-12 col-lg-6 case-item-wrap">
              <div class="case-item">
                <img class="case-item_icon" src="assets/icons/icon-dev.svg" alt="logo" />
                <h3 class="title title--h3">Web Development</h3>
                <p class="case-item_caption">Developing high-quality websites and web application at the professional
                  level.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6 case-item-wrap">
              <div class="case-item">
                <img class="case-item_icon" src="assets/icons/icon-app.svg" alt="logo" />
                <h3 class="title title--h3">MEAN Stack Development</h3>
                <p class="case-item_caption">Developing RESTful API services using Express and Node.js at the
                  professional level.</p>
              </div>
            </div>
            <div class="col-12 col-lg-6 case-item-wrap">
              <div class="case-item">
                <img class="case-item_icon" src="assets/icons/icon-photo.svg" alt="logo" />
                <h3 class="title title--h3">Team Management</h3>
                <p class="case-item_caption">Maintain component library support and handle the team members efficiently.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="resume-section" [class.active]="currentPage === 'resume'">
        <div class="section mt-0">
          <h1 class="title title--h1 title_separate">Resume</h1>
        </div>
        <div class="section">
          <h2 class="title title--h2">
            <img class="title-icon" src="assets/icons/icon-education.svg" alt="logo" /> Education
          </h2>
          <div class="timeline">
            <article class="timeline_item">
              <h5 class="title title--h3 timeline_title">SRM University</h5>
              <span class="timeline_period">2011 — 2014</span>
              <p class="timeline_description">
                Completed Master of Computer Application degree with an aggregate of 7.9 CGPA.</p>
            </article>
            <article class="timeline_item">
              <h5 class="title title--h3 timeline_title">K.S.R College of Arts and Science</h5>
              <span class="timeline_period">2008 — 2011</span>
              <p class="timeline_description">
                Completed Bachelor of Computer Application degree with an aggregate of 7.1 CGPA.</p>
            </article>
          </div>
        </div>
        <div class="section">
          <h2 class="title title--h2">
            <img class="title-icon" src="assets/icons/icon-experience.svg" alt="logo" /> Experience
          </h2>
          <div class="timeline">
            <article class="timeline_item">
              <h5 class="title title--h3 timeline_title">Web Developer</h5>
              <span class="timeline_period">2014 — Present</span>
              <p class="timeline_description">Currently working as a Product Development Manager at Syncfusion Software
                Private Limited</p>
            </article>
          </div>
        </div>
        <div class="section">
          <h2 class="title title--h2">My Skills</h2>
          <div class="box-gray">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-text"><span>Web Product Development</span><span>100%</span></div>
              </div>
              <div class="progress-text"><span>Web Design</span></div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-text"><span>JavaScript</span><span>100%</span></div>
              </div>
              <div class="progress-text"><span>JavaScript</span></div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-text"><span>Angular</span><span>85%</span></div>
              </div>
              <div class="progress-text"><span>Angular</span></div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-text"><span>React</span><span>50%</span></div>
              </div>
              <div class="progress-text"><span>React</span></div>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-text"><span>MEAN Stack Development</span><span>50%</span></div>
              </div>
              <div class="progress-text"><span>MEAN Stack Development</span></div>
            </div>
          </div>
        </div>
      </section>
      <section class="blog-section" [class.active]="currentPage === 'blog'">
        <div class="section mt-0">
          <h1 class="title title--h1 title_separate">Blog</h1>
        </div>
        <div class="news-grid section">
          <article class="news-item box">
            <div class="news-item_image-wrap overlay overlay--45">
              <div class="news-item_date">25<span>Feb 2021</span></div>
              <a class="news-item_link" target="_blank"
                href="https://www.syncfusion.com/blogs/post/how-to-send-emails-and-reminders-for-events-in-blazor-scheduler.aspx"></a>
              <img class="cover lazyload"
                src="https://www.syncfusion.com/blogs/wp-content/uploads/2020/12/How-to-Send-Emails-and-Reminders-for-Events-in-Blazor-Scheduler.png"
                alt="banner" />
            </div>
            <div class="news-item_caption">
              <h3 class="title title--h3">Sending Emails and Reminders in Blazor Scheduler</h3>
            </div>
          </article>
          <article class="news-item box">
            <div class="news-item_image-wrap overlay overlay--45">
              <div class="news-item_date">17<span>Nov 2021</span></div>
              <a class="news-item_link" target="_blank"
                href="https://www.syncfusion.com/blogs/post/easily-synchronize-blazor-resource-scheduler-with-restful-services.aspx"></a>
              <img class="cover lazyload"
                src="https://www.syncfusion.com/blogs/wp-content/uploads/2021/11/Easily-Synchronize-Blazor-Resource-Scheduler-with-Restful-Services.png"
                alt="banner" />
            </div>
            <div class="news-item_caption">
              <h3 class="title title--h3">Synchronize Blazor Resource Scheduler with RESTful Services</h3>
            </div>
          </article>
        </div>
      </section>
      <section class="contact-section" [class.active]="currentPage === 'contact'">
        <div class="section mt-0 mb-3">
          <h1 class="title title--h1 title_separate">Contact</h1>
        </div>
        <form id="contact-form" class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-12 col-md-6">
              <i class="font-icon icon-user"></i>
              <input type="text" formControlName="name" class="input input_icon form-control" autocomplete="on"
                placeholder="Full name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group col-12 col-md-6">
              <i class="font-icon icon-at"></i>
              <input type="text" formControlName="email" class="input input_icon form-control" autocomplete="on"
                placeholder="Email address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email is invalid</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-12 col-md-12">
              <textarea class="textarea form-control" formControlName="message" placeholder="Your Message"
                [ngClass]="{ 'is-invalid': submitted && f.message.errors }" rows="4"></textarea>
              <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                <div *ngIf="f.message.errors.required">Message is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 form-group">
              <button type="submit" class="btn btn-submit"><i class="font-icon icon-send"></i> Send Message</button>
            </div>
          </div>
        </form>
      </section>
    </content>
  </div>
</main>
